:root {
  --main-bg-color: rgb(46, 143, 8);
  --second-bg-color: rgb(11, 112, 45);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  /* text-align: center; */
  text-transform: uppercase;
  background-color: var(--main-bg-color);
  padding-bottom: 15px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* default classes  start*/
.d-flex {
  display: flex;
}

.j-content-between {
  justify-content: space-between;
}

.j-content-center {
  justify-content: center;
}

.j-content-around {
  justify-content: space-around;
}

.a-item-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.a-content-center {
  align-content: center;
}
/* default classes end */

.header-wrap {
  padding: 10px 50px 20px;
}

.header-title {
  margin: 0 auto;
}

.header .logo {
  width: 100px;
  height: 100px;
}

.header-nav {
  padding: 0 30px;
}

.header-nav .header-nav-ul {
  background-color: rgb(184, 236, 39);
  padding: 10px 0 10px 0;
}

.header-nav li {
  list-style: none;
}

.header-nav a {
  text-decoration: none;
  color: black;
}

.main {
  margin-top: 10px;
  background-color: var(--main-bg-color);
}

.main-wrap {
  max-width: calc(60% - 10px);
  min-height: 400px;
  padding: 20px 50px;
  background-color: var(--second-bg-color);
}

.main-wrap .main-title {
  text-align: center;
  text-transform: uppercase;
}

.main-wrap .main-text {
  margin-top: 20px;
}

.aside-wrap {
  max-width: 40%;
  min-height: 400px;
  padding: 20px 0 20px 0;
  background-color: var(--second-bg-color);
}

.aside-wrap .aside-title {
  text-transform: uppercase;
  text-align: center;
}
.aside-img-wrap {
  max-width: 100%;
  min-height: 100%;
  text-align: center;
  margin-top: 10px;
}

.aside-img-item {
  width: 200px;
  height: 200px;
}

.footer {
  margin-top: 10px;
  padding: 0 20px;
  background-color: var(--main-bg-color);
}

.footer .container {
  min-height: 100px;
  padding: 20px 0 20px 30px;
}

.footer .footer-link-wrap {
  margin-top: 30px;
}
